<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <form>
          <div class="row column log-in-form">
            <h4 class="text-center">Edit <%= resource_name.to_s.humanize %></h4>
            <%= devise_error_messages! %>
            <label>Email
              <%= f.email_field :email, autofocus: true %>
            </label>

            <label>Password  <i>(leave blank if you don't want to change it)</i><br />
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </label>

            <label>Password Confirmation
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </label>

            <label>Current Password
              <%= f.password_field :current_password, autocomplete: "off" %>
            </label>

            <p><%= f.submit "Update", class: "button expanded hover-button" %></p>

            <h4 class="text-center">Cancel my account</h4>

            <div class="text-center">Unhappy? <br/><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button alert text-center' %></div>
          </div>



        </form>
    <% end %>

  </div>
</div>