<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <form>
        <div class="row column log-in-form">
          <h4 class="text-center">Sign up</h4>

          <label>Email
            <%= f.email_field :email, autofocus: true %>
          </label>

          <label>Password
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </label>

          <label>Password Confirmation
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </label>

          <p><%= f.submit "Sign up", class: "button expanded hover-button" %></p>
          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </form>
    <% end %>
  </div>
</div>