<div class="row">
  <aside class="">
    <section class="user_info">
      <h1><%= @user.email %></h1>
      <span><%= link_to 'view my profile', @user %></span>
      <section class="stats">
        <%= render 'stats' %>
      </section>
    </section>
  </aside>
  <div class="">
    <% if @events.any? %>
      <%= will_paginate @events %>
      <ul class="users events">
        <%= render @events %>
      </ul>
      <%= will_paginate @events %>
    <% end %>
  </div>
</div>