<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <%= form_for(event, html: { multipart: true }) do |f| %>
        <form>
          <div class="row column log-in-form">
            <h4 class="text-center">Create a Event</h4>

            <% if event.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

                  <ul>
                    <% event.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <label>Title
              <%= f.text_field :title %>
            </label>

            <label>Description
              <%= f.text_area :description %>
            </label>

            <label>Start Date
              <%= f.text_field :start_date, id: 'datepicker-new-event' %>
            </label>

            <label>Category for the Event
              <%= f.collection_select :event_category_id, EventCategory.all, :id, :name, include_blank: true %>
            </label>

            <label>Location
              <%= f.text_field :location %>
            </label>

            <label>Upload an Image for the Event
                <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
            </label>

            <p><%= f.submit "Submit Event", class: "button expanded hover-button" %></p>
          </div>
        </form>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    $('#event_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });

    $(function(){
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
        $('#datepicker-new-event').fdatepicker({
            format: 'dd-mm-yyyy',
            disableDblClickSelection: true,
            leftArrow:'<<',
            rightArrow:'>>',
            onRender: function (date) {
                return date.valueOf() < now.valueOf() ? 'disabled' : '';
            }
        });
    });
</script>