<%= form_for_filterrific @filterrific do |f| %>
    <form>
      <div class="row">
        <h3 class="text-center">Events</h3>
        <div class="medium-3 columns">
          <label class="index-list-form-field">Search Events
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
                  :search_query,
                  class: 'filterrific-periodically-observed'
              ) %>
          </label>
        </div>
        <div class="medium-3 columns">
          <label class="index-list-form-field">Event Category
          <%= f.select(
                  :with_event_category_id,
                  @filterrific.select_options[:with_event_category_id],
                  { include_blank: '- Any -' }
              ) %>
          </label>
        </div>
        <div class="medium-3 columns">
          <label class="index-list-form-field">Start Date
          <%= f.text_field(:with_start_date, class: ' filterrific-periodically-observed', id: 'datepicker') %>
          </label>
        </div>
        <div class="medium-3 columns">
          <label class="index-list-form-field">Location
            <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            <%= f.text_field(
                    :location_query,
                    class: 'filterrific-periodically-observed'
                ) %>
          </label>
        </div>
        <div class=" columns index-list-form-field">
          <%= link_to(
                  'Reset filters',
                  reset_filterrific_url,
              ) %>
          <%# add an automated spinner to your form when the list is refreshed %>
          <%= render_filterrific_spinner %>
        </div>

      </div>

    </form>

<% end %>

<%= render(
        partial: 'events/list'
    ) %>

<script>
    $(function(){
        $('#datepicker').fdatepicker({
            format: 'mm-dd-yyyy',
            disableDblClickSelection: true
        });
    });
</script>