<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <form>
        <div class="row column log-in-form">
          <h4 class="text-center">Log in</h4>
          <label>Email
            <%= f.email_field :email, autofocus: true %>
          </label>
          <label>Password
            <%= f.password_field :password, autocomplete: "off" %>
          </label>
          <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <label>Remember Me</label>
              </div>
          <% end -%>
          <p><%= f.submit "Log in", class: "button expanded hover-button" %></p>
          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </form>
    <% end %>

  </div>

</div>
